{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{{ attach_library('uhsg_theme/menu') }}
<div class="l-top-bar">
  <div class="l-top-bar__subregion">
    <div class="l-top-bar__main">
      {% if logo_path and logo_text %}
        <a href="{{ logo_path }}" class="logo">
          <h1 class="logo__sitename">{{ logo_text }}</h1>
        </a>
      {% endif %}
      <a href="#" id="menu-toggle" class="nav-toggle"><span></span>Menu</a>
    </div>
    <div class="l-top-bar__sub">
      <div class="l-top-bar__subleft">
        {{ elements.headerlinksfi }}
        {{ elements.headerlinksen }}
        {{ elements.headerlinkssv }}
      </div>
      <div class="l-top-bar__subright">
        {{ elements.languageswitcher }}
      </div>
    </div>
  </div>
</div>
