{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('uhsg_theme/degree_programme_filter') }}
{{ attach_library('uhsg_theme/degree_programme_switcher') }}

<div class="degree-programme-switcher search-form">
  <label> {{ 'Select degree programme'|trans }} </label>
  <div class="degree-programme-switcher__header" tabindex="0">
    <div class="h4 degree-programme-switcher__title" data-degree-programme-code="{{ code }}">
      {{ label }}
    </div>
    <span class="degree-programme-switcher__toggle icon--caret-down" />
  </div>
  <div class="degree-programme-switcher__dropdown">
    <h2 class="h4">{{ 'Search for degree programme'|trans }}</h2>
    <div class="degree-programme-switcher__filter tube">
      <label for="filter">{{ 'Name of degree programme'|trans }}</label>
      <input type="text" name="filter" placeholder="{{ 'Name of degree programme'|trans }}" class="search-form__input">
      <i class="icon--search"></i>
    </div>
    {% block content %}
      {{ content }}
    {% endblock %}
    {% if label %}
      {{ link('Reset'|trans , reset_link.link, {'class': reset_link.classes }) }}
    {% endif %}
  </div>
</div>
